<!DOCTYPE html>
<html>
  <head>
    <title>SoundClout</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="icon" href="<%= image_url('favicon2.png') %>">
    <%# this script will grab the current user and save it as preloadedState %>
    <% if current_user %>
      <script>
        window.currentUser = {
          "id": <%= current_user.id %>,
          "username": "<%= current_user.username %>"
        }
      </script>
    <% end %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
